body {
  font-family: Helvetica, Geneva, Arial, sans-serif;
  color: #000;
  background-color: #fff;
}

header { 
  background-color: aqua;
}

footer { 
  background-color: aquamarine;
}

#content {
 background-color: bisque;
}