<h1>Here is a list of users</h1>
<% @users.each do |user| %>
  <li id="user_container">
    <%= link_to user_url(user) do %>
      <%= image_tag user.photo, id: "user_photo" %><br>
      <div id="user_text">
        <h2><%= user.name %></h2><br>
        <p>Number of posts: <%= user.posts_counter.to_i %></p>
      </div>
    <% end %>
  </li>
<% end %>
